/* ===========Mobile Responsive========= */
@media only screen and (max-width: 688px) {
  header,
  .card-section,
  .highlight,
  .counter-player,
  .software-section {
    padding: 8rem 1.6rem;
  }
  .main-hero-section {
    flex-direction: column;
  }
  /*======= Hero left side styles======== */
  header .hero-left-side {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6rem;
  }
  header .hero-left-side .hero-title {
    width: 27.8rem;
    height: 100%;
    font-size: 3.6rem;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
  /*======= Hero right side styles======== */
  header .hero-right-side {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  header .hero-right-side img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
  /* ============================ Card section styles here ====================
  ========================*/
  .main-card {
    width: 100%;
    height: 100%;

    flex-direction: column;
  }
  .main-card .card {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 2.7rem;
  }
  .main-card .card img {
    max-width: 100%;
    height: auto;
  }
  .main-card .card h2 {
    width: 100%;
  }
  .main-card .card p {
    width: 100%;
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  /*  ==================Higlights section styles=================
======================== */
  .main-highlight {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .main-highlight .left-highlight-side {
    width: 100%;
    height: 100%;
  }
  .main-highlight .left-highlight-side h1 {
    width: 30rem;
    font-size: 3rem;
    line-height: 6rem;
    height: 12rem;
    margin-bottom: 0.8rem;
  }
  .main-highlight .left-highlight-side p {
    width: 32.9rem;
    line-height: 2.8rem;
    height: 14.3rem;
  }
  .main-highlight .left-highlight-side .common-btn {
    margin-bottom: 3rem;
  }

  .main-highlight .right-highlight-side {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .main-highlight .right-highlight-side img {
    max-width: 100%;
    height: auto;
  }
  /*==================================== Counter plyaer Styles========================
==================================== */
  .counter-player {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .conter {
    width: 100%;
    margin-bottom: 5rem;
  }
  .counter-player h1 {
    width: 100%;
    font-size: 4rem;
  }
  .counter-player p {
    font-size: 1.6rem;
  }

  /*=================== Our software styles ========================
======================== */
  .main-sofware {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  /* ================Software left side styles========================= */
  .main-sofware .left-side-software {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
  }
  .main-sofware .left-side-software h1 {
    width: 100%;
    font-size: 3rem;
  }
  .main-sofware .left-side-software p {
    width: 100%;
    margin-bottom: 2rem;
  }
  .main-sofware .left-side-software h3 {
    font-size: 1.4rem;
    color: var(--paragraph-color);
    margin-bottom: 2rem;
    width: 100%;
  }
  /* ================Software right side styles========================= */
  .main-sofware .right-side-software {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .main-sofware .right-side-software img {
    max-width: 100%;
    height: 100%;
  }
}

/* ======================TAblet devices========================================
===================================== */
@media only screen and (min-width: 688px) and (max-width: 1024px) {
  header,
  .card-section,
  .highlight,
  .counter-player,
  .software-section {
    padding: 8rem 1.6rem;
  }
  header .hero-left-side .hero-title {
    width: 33rem;
    height: 100%;
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 3rem;
  }
  header .hero-right-side img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
  /* ============================ Card section styles here ====================
  ========================*/
  .main-card .card {
    width: 48%;
  }
  /*  ==================Higlights section styles=================
======================== */
  .main-highlight .left-highlight-side h1 {
    width: 40rem;
    font-size: 3rem;
    line-height: 6rem;
    height: 12rem;
    margin-bottom: 0.8rem;
  }
  .main-highlight .right-highlight-side img {
    max-width: 100%;
    height: auto;
  }
  .main-highlight .left-highlight-side p {
    width: 31rem;
    margin-bottom: 2rem;
  }
  /*==================================== Counter plyaer Styles========================
==================================== */
  .conter {
    width: 50%;
    margin-bottom: 5rem;
  }
  .counter-player {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  /*=================== Our software styles ========================
======================== */
  .main-sofware .left-side-software {
    width: 50%;
    height: 100%;
  }
  .main-sofware .left-side-software h1 {
    width: 100%;
    font-size: 3rem;
  }
  .main-sofware .left-side-software p {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
  .main-sofware .left-side-software h3 {
    font-size: 1.3rem;
    width: 100%;
  }
  /* ============Software right side==============*/
  .main-sofware .right-side-software img {
    max-width: 100%;
    height: 100%;
  }
}
